header {
  height: 15vh;

  .inner {
    height: 15vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      bottom: -5px;
      left: 0;
      background-color: var(--color-jyp);
      height: 2px;
      width: 100%;
    }
  }

  .utils {
    display: flex;
    align-items: flex-end;
    gap: 1em;

    a:hover {
      background-color: var(--color-black-10);
    }

    .manage {
      font-size: 1.8em;
      color: var(--color-black-70);
    }

    .search {
      font-size: 1.5em;
      font-weight: 700;
      color: var(--color-black-70);
    }

    .list-icon {
      width: 1.5em;
      height: 1.5em;
      display: flex;
      flex-direction: column;
      gap: 4px;


      div {
        background-color: var(--color-black-50);
        flex-grow:1;
      }
    }
    .list-icon.hide{
      display: none;
    }

    .grid-icon {
      width: 1.5em;
      height: 1.5em;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 3px;

      div {
        background-color: var(--color-black-50);
      }
    }
    .grid-icon.hide{
      display: none;
    }

  }

}